:root{

--deep-blue:#0B3C5D;
--gold:#F2B705;
--light-blue:#F4F9FD;
--gray:#6C757D;

}

/* GLOBAL */

body{
font-family: "Segoe UI", sans-serif;
background:white;
}

section{
padding:100px 0;
}


/* NAVBAR */

.rf-navbar{
background:var(--deep-blue);
padding:15px 0;
position: sticky;
top: 0;
z-index: 1020;
}

.brand-text{
font-weight:700;
font-size:20px;
color:white;
}

.nav-link{
color:white !important;
margin-right:20px;
}

.material-icons{
vertical-align:middle;
}


/* BUTTON */

.rf-btn{
background:var(--gold);
border:none;
color:black;
font-weight:600;
padding:10px 22px;
}

.rf-btn:hover{
opacity:.9;
}


/* HERO */

.hero{
background: rgba(11,60,93,0.6) url('../img/hero.png') no-repeat center center / cover;
padding-top:150px;
}

.hero-title{
font-size:3rem;
font-weight:700;
margin-bottom:20px;
}

.hero-text{
color:var(--gray);
margin-bottom:30px;
}

.hero-card{
background:rgb(255, 255, 255);
opacity: 0.90;
border-radius:15px;
padding:40px;
box-shadow:0 10px 40px rgba(0,0,0,0.08);
}

.hero-icon{
font-size:48px;
color:var(--deep-blue);
}


/* FEATURES */

.features{
background:var(--light-blue);
}

.feature-card{
background:white;
padding:30px;
border-radius:10px;
border:1px solid #e5e5e5;
text-align:center;
transition:.3s;
}

.feature-card:hover{
transform:translateY(-5px);
box-shadow:0 8px 30px rgba(0,0,0,0.1);
}

.feature-card .material-icons{
font-size:40px;
color:var(--deep-blue);
margin-bottom:10px;
}


/* FOOTER */

.footer{
background:#081f2f;
color:#ccc;
padding:40px 0;
font-size:0.9rem;
}

.footer h5{
color:white;
margin-bottom:15px;
}

.footer a{
color:#ccc;
text-decoration:none;
}

.footer a:hover{
color:var(--gold);
}

.footer hr{
border-color:#444;
margin:30px 0;
}


/* SCROLL ANIMATION */

.fade-in{
opacity:0;
transform:translateY(40px);
transition:all .8s ease;
}

.fade-in.show{
opacity:1;
transform:translateY(0);
}